* {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  background-color: slategrey;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  padding: 2%;
  gap: 2%;
}

.scrollContainer {
  flex: 0 0 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrollButton {
  background: none;
  color: rgb(185, 212, 212);
}

.scrollButton:hover {
  color: azure;
}

.pictureWindow {
  width: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;
}

.imgFrame {
  display: flex;
  overflow: hidden;
  background-color: rgba(245, 245, 245, 0.4);
  border-radius: 5px;
}

.carousel {
  height: 100%;
  display: flex;
  gap: auto;

}

.imgContainer {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 0 0 100%;
}

img {
  text-align: center;
}

.scrollerBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.scrollerBar button {
  height: 11px;
  width: 11px;

  border-radius: 50%;
  background-color: rgb(185, 212, 212);
}

button.activeDot {
  background-color: white;
}
